# Managed by Ansible — local changes ARE NOT PRESERVED
{% if 'age' in user.value.chezmoi %}
encryption = "age"
[age]
    identity  = "~/.config/chezmoi/age-key.txt"
    recipient = "{{ user.value.chezmoi.age.recipient }}"
{% endif %}

[data]
    name  = "{{ user.value.name }}"
    email = "{{ user.value.email }}"
{% if 'data' in user.value.chezmoi %}
{% for data_key, data_value in user.value.chezmoi.data.items() %}
    {{ data_key }} = "{{ data_value }}"
{% endfor %}
{% endif %}
