[defaults]
any_errors_fatal = True
deprecation_warnings = False
display_skipped_hosts = False
force_color = True
inventory = ./inventory
log_path = ./artifacts/ansible.log
log_verbosity = 1
result_format = yaml
